<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Layout page</title>
</head>
<body>

<-- fragments/header 파일의 header 조각 내용으로 대체 -->
<header th:replace="fragments/header :: header"></header>

<!-- content 영역 정의 -->
<section layout:fragment="content">
    <p>Page content</p>
</section>

<-- fragments/footer 파일의 footer 조각 내용으로 대체 -->
<footer th:replace="fragments/footer :: footer"></footer>

</body>
</html>