<!DOCTYPE html>
<html lang="en" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <!-- URL Parameter에서 error가 있는지 확인 -->
    <div th:if="${param.error}">인증에 실패했어요.</div>
    
    <!-- 
    /login에 POST 요청을 하면 서버에서 
    UserDetailsService를 상속받는 클래스를 찾아 
    loadUserByUsername 메서드를 자동으로 호출한다. 
    -->
    <form action="/login" method="POST">
        <input name="username">
        <input name="password" type="password">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
        <button type="submit">login</button>
    </form>
</body>
</html>
