<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout.html}">

<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link href="/my/card.css" rel="stylesheet">
</head>
<body>
<section layout:fragment="content">
    <div class="form-container">
        <div class="row">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#tab1">베스트셀러</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#tab2">신간 도서</a>
                </li>
            </ul>
        </div>
        <div class="row">
            <div class="tab-content">
                <div class="tab-pane fade show active" id="tab1">
                    <!-- Tab 1 content 베스트셀러 -->
                    <div class="row">
                        <div class="col-md-4" th:each="i : ${data.get(0).item}">
                            <div class="card">
                                <img th:src="${i.cover}" alt="bookcover" class="card-img-top">
                                <div class="card-body">
                                    <h5 class="card-title" th:text="${i.title}"></h5>
                                    <p class="card-text text-truncate" th:text="${i.author}"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="tab2">
                    <!-- Tab 2 content 신간 도서 -->
                    <div class="row">
                        <div class="col-md-4" th:each="i : ${data.get(1).item}">
                            <div class="card">
                                <img th:src="${i.cover}" alt="bookcover" class="card-img-top">
                                <div class="card-body">
                                    <h5 class="card-title" th:text="${i.title}"></h5>
                                    <p class="card-text text-truncate" th:text="${i.author}"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>